/* :root {
  --primary-color: #252524;
  --secondary-color: #f3f3f3;
  --tertiary-color: #68b687;

  --lprimary-color: #d9d9d9;
  --lsecondary-color: #009aef;
  --ltertiary-color: #68b687;
}
.dark {
  --primary: var(--primary-color);
  --secondary: var(--secondary-color);
}
.light {
  --primary: var(--lprimary-color);
  --secondary: var(var(--lsecondary-color));
}
.body {
  background-color: var(--primary-color);
}
 */
:root {
  --light-blue: #252524;
  --dark-blue: #f3f3f3;
  --light-red: #d9d9d9;
  --dark-red: #009aef;
  --totally-yellow: #68b687;

  /* Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.cool {
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.hero {
  background-color: var(--primary);
  text-align: center;
}

body {
  background-color: var(--secondary);
  height: 90vh;
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
}

.songtitles {
  background-color: var(--primary);
}
.submitbutton {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  :hover {
    transform: translateY(-2px);
  }
}
.inputsongs {
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(247, 248, 248);
  height: 46px;
  appearance: none;
  transition: border 0.15s ease 0s;
  :focus {
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
  }
}
.songtitles {
  text-align: center;
}
