@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@300;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Bitcount Prop Single", sans-serif;
  transition: background 0.4s, color 0.4s;
}

/* Light Mode (cool) */
body.cool {
  background: #f2f6ff;
  color: #1a1a1a;
}

/* Warm Mode */
body.warm {
  background: #311b0b;
  color: #ffe7c7;
}

.hero {
  text-align: center;
  font-size: 4rem;
  margin: 20px 0;
  font-weight: 700;
  letter-spacing: 4px;
}

.main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Switch Theme Button */
.btn {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: #4c7fff;
  color: white;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

/* Inputs */
.inputsongs {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  transition: 0.2s;
}

.inputsongs:focus {
  border-color: #4c7fff;
  box-shadow: 0 0 5px #4c7fff;
}

/* Add Song Button */
.submitbutton {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #47b36a;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.submitbutton:hover {
  transform: scale(1.05);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.songtitles {
  padding: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  transition: 0.2s;
}

body.warm .songtitles {
  background: rgba(60, 35, 15, 0.4);
  border: 2px solid rgba(255, 230, 200, 0.25);
}

.songtitles:hover {
  transform: translateY(-4px);
}

.songtitles h2 {
  margin: 5px 0;
}

/* Album Art */
.album {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 10px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 15px;
  font-size: 0.9rem;
  border: none;
  background: #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.filter-btn:hover {
  background: #4c7fff;
  color: white;
  transform: scale(1.1);
}

/*       holy aiden tuff steph curry shrine pat spencer is good too      */

#steph {
  padding: 12px;
  background: gold;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}

#steph:hover {
  transform: scale(1.1);
}

.stephencurry img {
  width: 350px;
  border-radius: 10px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .hero {
    font-size: 2.7rem;
  }

  .album {
    width: 150px;
    height: 150px;
  }
}
